{{#info}}
  <div class="position-absolute top-0 end-0 alert alert-{{info.type}} alert-dismissible fade show">
    {{info.text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/info}}
<script src="js/calendar.js"></script>
</body>
</html>