<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Prise de RDV</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="lib/main.css" rel="stylesheet">
    <script src="lib/main.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Prise de Rendez-vous</span>

        {{^authenticated}}
        <form class="d-flex" action="/login" method="post">
            <input class="form-control me-2" type="text" name="email" placeholder="Email">
            <input class="form-control me-2" type="password" name="password" placeholder="Mot de passe">
            <button class="btn btn-outline-primary" type="submit">Connexion</button>
        </form>
        {{/authenticated}}

        {{#authenticated}}
        <form class="d-flex" action="/logout" method="post">
            <span class="navbar-brand" id="name"> Bienvenue {{name}} </span>
            <button class="btn btn-outline-danger" type="submit">Déconnexion</button>
        </form>
        {{/authenticated}}

    </div>
</nav>