{{>header}}
<div class="container">
    <form class="row g-3" action="/new_user" method="post">
        <div class="col-md-6">
            <label for="inputFirstname" class="form-label">Prénom</label>
            <input type="text" class="form-control" name="firstname" id="inputFirstname">
        </div>
        <div class="col-md-6">
            <label for="inputLastname" class="form-label">Nom</label>
            <input type="text" class="form-control" name="lastname" id="inputLastname">
        </div>
        <div class="col-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail">
        </div>
        <div class="col-12">
            <label for="inputPassword" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" name="password" id="inputPassword">
        </div>
        <div class="col-12">
            <label for="inputPassword2" class="form-label">Confirmer mot de passe</label>
            <input type="password" class="form-control" name="confirm_password" id="inputPassword2">
        </div>
        <div class="col-12">
            <button class="btn btn-outline-primary" type="submit">Inscription</button>
        </div>
    </form>
</div>

{{>footer}}