body {
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

.navbar{
    margin-bottom: 40px;
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
}

.container{
    width: 50%;
    padding: 20px;
    border: solid 1px #dee2e6;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.alert{
    width: 15%;
    margin-top: 60px;
}

.fc-non-business{
    cursor: not-allowed;
}